body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    height: 100vh;
    background-color: black;
   
}

header{
    width: 100vw;
    height: 10vh;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    background: radial-gradient(circle at center, #2f486d 0%, #0a0a0a 100%);
    box-shadow: 10px 10px 30px -10px rgba(17, 105, 247, 0.3);
    color: #a1a1aa;
    position: sticky;   
    top: 0;
    z-index: 1000;
    margin-bottom: 20px;
    font-weight: 800;

}
#flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

nav button{
     background-color: rgb(17, 105, 247);
     width: 100px;
    border: none;
    
    font-weight: 600;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    transition: all 0.3s ease;

}
nav button:hover{
      background-color: rgb(74, 136, 235);
      transform: translateY(-5px);
}
#grid-container{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    grid-template-areas:
    "card-1 card-1 card-2 card-2 "
    "card-1 card-1 card-3 card-4"
    "card-5 card-5 card-5 card-5 "
    "card-6 card-6 card-6 card-7"
    "card-6 card-6 card-6 card-7";
     gap: 25px;
     /* border: 2px solid black; */
    
}
.cards{
    background-color: #161b22;
    border: 1px solid #27272a;
    color : #a1a1aa;
    border-radius: 20px;
    /* padding: 25px; */
    width: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    background: radial-gradient(circle at center, #2f486d 0%, #0a0a0a 100%);
    box-shadow: 10px 10px 30px -10px rgba(17, 105, 247, 0.3);


}


#card-1{
    grid-area :card-1;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items :center;
    background: radial-gradient(circle at center, #212e42 0%, #0a0a0a 100%);
    box-shadow: 10px 10px 30px -10px rgba(17, 105, 247, 0.3);
    
   
}
#card-1:hover{
    transform: translateY(-5px);
}
#card-1 > button{
    background-color: rgb(17, 105, 247);
    border: none;
    font-weight: 600;
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

#card-1 > button:hover{
    background-color: rgb(74, 136, 235);
    
   
}
#card-2{
    grid-area :card-2;
   
}
#card-3{
    grid-area :card-3;
}
#card-4{
    grid-area :card-4;
}
#card-5{
    grid-area :card-5;
}
#card-6{
    grid-area: card-6;
}
#card-7{
    grid-area: card-7;
}


