* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    min-height: 100vh;
  width: 100%;
    background-color: black;
     
   
}
#main-div{
    width: 100%;
     padding: 0 20px;
     
}

header {
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

 flex-wrap: wrap;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.03);
color: #a1a1aa;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 25px;
}


nav a {
  color: #a1a1aa;
  margin-left: 15px;
  padding: 6px 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

nav a:hover {
  background: rgb(74, 136, 235);
  text-decoration: underline;
  border-radius: 6px;
  transform: translateY(-5px);
}


#grid-container {
  width: 100%;
  min-height: calc(100vh - 70px);
   box-sizing: border-box;
  display: grid;
  gap: 25px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "card-1 card-1 card-2 card-2"
    "card-1 card-1 card-3 card-4"
    "card-5 card-5 card-5 card-5"
    "card-6 card-6 card-6 card-7"
    "card-6 card-6 card-6 card-7";
}

#grid-container :hover{
    transform: translateY(-5px);
}
.cards{
    background-color: #161b22;
    border: 1px solid #27272a;
    color : #a1a1aa;
    border-radius: 20px;
    /* padding: 25px; */
    width: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    background: radial-gradient(circle at center, #2f486d 0%, #0a0a0a 100%);
    box-shadow: 10px 10px 30px -10px rgba(17, 105, 247, 0.3);
    box-sizing: border-box;


}




#card-1{
    grid-area :card-1;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items :center;
    flex-wrap: wrap;
    background: radial-gradient(circle at center, #212e42 0%, #0a0a0a 100%);
    box-shadow: 10px 10px 30px -10px rgba(17, 105, 247, 0.3);
    object-fit: contain;
    transition: all 0.3s ease;
    /* padding: 40px; */
   
}

#card-1 > div{
    flex: 1;
}



#card-1 >div> button{
    background-color: #1169f7;
    color: white;
    box-shadow: 10px 10px 30px -10px rgba(17, 105, 247, 0.5);
    width: 150px;
    border: none;
    font-weight: 500;
    font-size: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    height: 3%;
    margin-bottom: 2%;
    
    
   
}
#card-1 > div > button:hover{
     background-color: rgb(74, 136, 235);
      text-decoration :underline;
      transform: translateY(-5px);
}
#card-2{
    grid-area :card-2;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;

    

}
#card-2 > img{
    width: 200px;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border: 1px solid blue;
    border-radius: 70%;

}

#card-3{
    grid-area :card-3;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

#card-3 > div >h2{
    color: #1169f7;
    text-align: center;
    font-size:40px;
    font-weight: bolder;
    margin-bottom: 10px;
    
}
#card-4{
    grid-area :card-4;
}
#card-5{
    grid-area :card-5;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    text-align: left;
    font-size: 20px;
    flex-wrap: wrap;
    padding-left : 20px;
    padding-right: 20px;
    gap: 20px;
}
#card-6{
    grid-area: card-6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    

}
#card-7{
    grid-area: card-7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
     font-size: 20px;
    font-weight: 800;
}

/* #card-7 > div > a > img{
  padding-right: 20px;
  padding-left: 40px;
} */






@media (max-width: 768px) {
  #grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4"
      "card-5"
      "card-6"
      "card-7";
  }

  header {
    padding: 0 20px;
  }

  #card-2 {
    flex-direction: column;
    text-align: center;
  }
}
