body{
    
     font-family: sans-serif;
    background : rgb(4, 83, 241);
}
#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items : center;
    flex-wrap: wrap;
    padding: 20px;

}
.container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background : rgb(232, 233, 235);
    border-radius: 20px;
    
    
}
.container-item:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}
img{
    width: 100%;
    padding: auto;
    border-radius: 20px;
}
p{

   
    margin-bottom: auto;
    font-size: larger;
   
}
h2{
    margin: 5px;
    font-weight: bolder;
}
button{
    width: 20%;
    height: 5%;
    border: 1px solid black;
    border-radius: 10px;
    
    

}
button:hover{
    background:rgb(59, 121, 247) ;
}