body{
   background-color: rgb(6, 37, 191);
    height: 100%;;
    font-family: sans-serif;
    
}
img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p{
  
    display: -webkit-box;
    -webkit-line-clamp: 5 ; /* Jitni lines dikhani hain (misal ke taur par 5) */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items : center;
    flex-wrap: wrap;
   
    /* padding: 20px; */
}
.container-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2%;
    text-align: center;

}
.container-item:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}
button{
    width: 100%;
    height: 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    overflow :hidden;

}
button:hover{
    background:rgb(59, 121, 247) ;
    color: red;
}
