#main_container{
    margin-left: 25%;
    width: 50%;
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: bisque;
    border: 1px solid slateblue;
    margin: 20px 10px;
}